[2014-07-23 23:57] kyleniemeyer opened #1 "Avoid printing terms that are zero"
In chem_utils.py (and potentially elsewhere), avoid printing terms that are zero, such as thermodynamic coefficients.

[2014-07-24 00:11] kyleniemeyer opened #2 "Finish Fortran and Matlab support"
Currently Fortran and Matlab support is spotty at best. This should be completed.

[2015-08-18 00:54] kyleniemeyer opened #3 "Convert reactions with explicit reverse coefficients into two irreversible reactions"
When interpreting Chemkin mechanisms, mech_interpret.py should convert reversible reactions with explicit reverse Arrhenius coefficients into two irreversible reactions, in order to match Cantera's behavior.

In particular, this is important when comparing the reaction rates in the test module.

[2015-08-23 20:21] kyleniemeyer opened #4 "v2.0: add option for constant volume assumption"
This isn't necessary for the initial release, but for v2.0 it would be good to add the option to do everything assuming constant volume, rather than only constant pressure as is currently the case.

This would be useful for internal combustion (e.g, reciprocating engine) simulations, in particular.

[2015-09-28 15:04] arghdos opened #5 "V2: Add sparse matrix format / factorization capabilities"
Ideally pyJac should support the ability to generate Jacobians evaluation / factorization / multiplication in a sparse representation to further accelerate ODE integration.

As (currently) the only solvers we're planning to work with that aren't ours are CVODEs, we should probably conform to their format.  As a side note, it's worth considering adding support for the ARKode solver in the sundials

[2015-12-16 21:27] kyleniemeyer commented on #3
Closed by f3bff8ea303cc7d7436d1853406605e931808cc5

[2015-12-16 21:27] #3 closed

[2016-03-16 20:51] kyleniemeyer opened #6 "add pip requirements.txt file"
Looks like this may be needed in addition to requirements in setup.py: https://caremad.io/2013/07/setup-vs-requirement/

[2016-03-16 20:53] kyleniemeyer commented on #6
May be helpful: https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format

[2016-03-16 20:58] kyleniemeyer opened #7 "add files for package distribution"
Based on https://packaging.python.org/en/latest/distributing/#initial-files, should have

- [x] setup.py
- [x] setup.cfg
- [x] README (.rst instead of markdown?)
- [x] MANIFEST.in
- [x] pyJac package

[2016-03-16 21:00] kyleniemeyer opened #8 "Add documentation?"
Should some documentation be added discussing the theory/approach, or would that overlap with the paper? (perhaps that is ok)

[2016-03-16 21:01] kyleniemeyer opened #9 "Add CITATION and citation.jsonld files"
Will need to reserve Zenodo DOI for these.

[2016-03-17 14:56] arghdos commented on #6
should be addressed in 02784ac

[2016-03-17 14:56] #6 closed

[2016-03-17 15:49] arghdos commented on #7
9f5c4b5

[2016-03-17 16:31] #7 closed

[2016-07-19 06:35] haowu80s commented on #4
This is a rather important issue.
When using these tool for CFD simulation with operator splitting, whether to use constant pressure or constant volume depends on if we are solving energy or enthalpy equation. The choice of using energy equation is particularly popular for compressible solver as it is conservative. Thus, constant volume is desired.

[2016-07-28 13:52] arghdos commented on #4
Hi, we are currently developing a new set of equations that will result in a sparse Jacobian (and will therefore benefit from sparse linear algebra methods).  This will include a constant volume option

[2016-08-05 05:15] haowu80s commented on #4
Hi,
Any plan on how soon the new development will be releases?

[2016-08-10 17:49] arghdos commented on #4
@haowu80s

The beta should be released within the next few months, with the paper following shortly after

[2016-11-02 20:47] stgeke opened #10 "Chemkin compatible interface"
Would you consider to provide a Chemkin compatible routine to compute the species production rates.

[2016-11-07 15:16] arghdos commented on #10
Hi, we're currently in the process of a rewrite to exploit SIMD/SIMT parallelism on both the CPU/GPU.  We would welcome a pull request for a Chemkin wrapper for species production (and potentially even the Jacobian) but it is not a priority right now

[2016-11-07 15:22] stgeke commented on #10
I will create a PR with the wrapper.
Talking about your optimization effort. Any plans to support vector (for multiple thermodynamic states) evaluations? This could help to improve the vectorization cache line utilization. That's what I do in my hand-tuned kernels (which is about 2x faster than pyJac).

[2016-11-07 17:28] arghdos commented on #10
Yes, we are specifically targeting:

A) a 'deep' implementation in which the evaluation of the species rates / jacobian will be vectorized for a single state (e.g., evaluation of multiple species rates in vector form) and

B) a 'wide' implementation, that vectorizes species rates / jacobian evaluation across multiple states (as you mention)

This vectorized version will also be sparse (to improve

[2016-12-05 09:35] kahilah opened #11 "Error handling for incorrect Troe reaction data"
Hey!

I noticed that e.g. for the DME mechanism available: http://www.engr.uconn.edu/~tlu/mechs/mechs.htm

( particularly: http://www.engr.uconn.edu/~tlu/mechs/DME.zip and the skeletal one)

one gets an error:

-------------------------------------------------------------------------------------------------------------------------------
[code]
------------------------------------------------------

[2016-12-05 16:27] arghdos commented on #11
@kahilah Thanks for the bug report!

Technically speaking, the reaction in that DME mechanism is undefined--it takes the form of 0 * exp(T / 0).  I am looking into how Cantera / chemkin handle this reaction in order to figure out what we should do

[2016-12-05 16:34] kyleniemeyer commented on #11
@arghdos it sounds like this is the same as commenting out the reaction—so perhaps we should just skip reactions with a pre-exponential factor of 0?

[2016-12-05 16:55] arghdos commented on #11
@kyleniemeyer thoughts?  I've brought this up on the [cantera github](https://github.com/Cantera/cantera/issues/404) as well

[2016-12-05 16:58] arghdos commented on #11
@kyleniemeyer this particular reaction still has a non-zero Fcent as:

`Fcent = (1 - a) * exp(-T / T3) + a* exp(-T/ T1) + exp(-T2 / T)`

For this given reaction it simplifies to:

`Fcent = 1 * exp(-T / 570) + 0 * exp(-T / 0) + exp(-1e+30 / T)`

Hence we still have contributions from the leading term

[2016-12-14 18:51] arghdos commented on #11
Handled by 7188be7, thanks again for the report!

[2016-12-14 18:51] #11 closed

[2017-01-18 18:56] arghdos commented on #9
closed as these have been added

[2017-01-18 18:56] #9 closed

[2017-01-18 19:21] arghdos commented on #8
closed, 0c7f149 address this by putting a link to the paper in the readme

[2017-01-18 19:21] #8 closed

[2017-01-30 19:44] TJaravel opened #12 "Jacobian creation with SRI Falloff Function"
An error occurs in create_jacobian.py when treating  a reaction with SRI Falloff function.

The following fix may work
l249 of create_jacobian.py
Current:

        _elif rxn.sri:
            jline += '* pow({:.6} * '.format(reac.sri_par[0])
            # Need to check for negative parameters, and
            # skip "-" sign if so.
            if reac.sri_par[1] > 0.0:
                line += 'exp(

[2017-01-30 20:10] arghdos commented on #12
Thanks for the bug report, the current version is definitely incorrect.
I will test out your fix / incorporate ASAP

[2017-01-30 20:34] kyleniemeyer commented on #12
Strange that we didn't encounter this when testing the model with SRI reactions—does this only occur when one of the optional parameters is used (or not used)?

[2017-01-30 20:43] arghdos commented on #12
@kyleniemeyer It appears to be the SRI reaction in the Sarathy i-pentanol model does not have any non-default third-body efficiencies, hence the if statement on line 234 is not triggered

@TJaravel would you mind sharing the model you were using when this error occurred (or really, just the SRI reaction in question)?  It would help test that the fix is correct

[2017-01-30 20:48] TJaravel commented on #12
The SRI reaction (chemkin):

H+CH3(+M)=CH4(+M)                                       1.2000e+15   -0.400         0.00
 LOW/   6.40e+23     -1.800          0.0/
SRI/   0.4500  797.0000  979.0000  1.0000  0.0000/
H2/ 2.00/  CO/ 2.00/  CO2/ 3.00/  H2O/ 5.00/

[2017-01-30 21:39] arghdos commented on #12
Ok, running the functional tester using one of the GRI PaSR outputs with this reaction inserted in place of the similar Troe reaction in GRIMech 3.0 results in a max error of 0.436%

I think this fix is good

[2017-01-30 21:41] #12 closed

[2017-02-04 22:13] kyleniemeyer opened #13 "Need to check Cantera version"
pyJac relies on features introduced in Cantera v2.3.0, and will error out if an older version is used. We need to check for the correct version when installing via pip and also at run time.

[2017-02-04 22:44] kyleniemeyer commented on #13
Closed via 4749201

[2017-02-04 22:44] #13 closed

[2017-03-08 22:49] michael-a-hansen opened #14 "Potential issue with cython wrapper"
Hello,

I've just used pyJac's pyWrap utility to write C code that I can call from python. I'm getting `nan`s when I evaluate `py_dydt` and `py_eval_jacobian`, but not from `py_eval_conc`, `py_eval_rxn_rates`, `py_get_rxn_pres_mod`, or `py_eval_spec_rates`. See details below.

## Build procedure
pyJac call: `python3 -m pyjac -i h2-burke.xml -l c`
pyWrap call: `python3 -m pyjac.pywrap --source_dir

[2017-03-09 01:26] arghdos commented on #14
@michael-a-hansen ok, the issue here is that the `t` argument in `py_dydt` and `py_eval_jacobian` actually represents time, not temperature.  The state vector (for the C module) should consist of:

[code]

Hence you should get the correct results by calling this as:

[code]

Also note that due to the formulation of our system, the Jacobian is actually Nsp x Nsp, i.e. 1 entry for Temperature and Ns

[2017-03-09 19:56] michael-a-hansen commented on #14
Terrific! Thank you. It is working as expected now :)

A note: it's very confusing that `Y` is `TY` in the higher-level functions (`dydt` and such) and `Y` in the lower-level methods (`eval_conc` and such). Additionally, when looking at the auto-generated code, I saw a line like the following, which I was ready to submit as a massive bug report before I realized `Y` is `TY` and so `y[1]` is actual

[2017-03-09 19:57] #14 closed

[2017-03-09 20:12] arghdos opened #15 "Fix documentation for python wrapper and state vector"
It's clear that having the Temperature be the first value in the state vector is causing confusion for new users (e.g. #14).  We need to document both the expected structure of the state vector for (C/CUDA) and the python interface

[2017-03-09 20:23] michael-a-hansen opened #16 "Bug in SRI Falloff"
When I compare `dydt` from cantera and pyJac for a mechanism including an SRI falloff reaction, I get huge differences. This shows up immediately in a time integration problem.

The mechanism of interest is Zabetta et al. for methanol (see paper and mechanism below). It only has a single SRI reaction but that causes major problems.

[Coda Zabetta, Hupa_2008.pdf](https://github.com/SLACKHA/pyJac/fi

[2017-03-09 20:43] arghdos commented on #16
@michael-a-hansen I would guess that the issue here is that pyJac moves a user-specified species to the end of the model to use for explicit mass conservation.

If the user doesn't specify a last species explicitly it will in this case choose `N2` (followed by He and Ar, IIRC).

We do some mapping of species dydt's in our functional tester to get around this problem, but there's an easier way, e.g

[2017-03-09 20:46] michael-a-hansen commented on #16
I don't think that's it, because I specified the last species to match that in the input file. I saw some of the species mapping stuff and wanted to avoid any issues there, so I compiled pyJac with HE as the last species, matching the input file. I talked with @kyleniemeyer about SRI last Spring, I remember it being an issue or not implemented yet or something like that.

[2017-03-09 20:51] kyleniemeyer commented on #16
We certainly support SRI, and in fact made sure to include a kinetic model with SRI falloff reactions in the validation of our paper.

We did fix a bug related to SRI recently (#12), so it's possibly you found another one. Are you used the most recent version, or did you download from PyPI? We haven't pushed the latest version there yet...

[2017-03-09 20:52] michael-a-hansen commented on #16
I pulled from GitHub yesterday

[2017-03-09 20:52] kyleniemeyer commented on #16
OK, sounds like you identified a new bug!

[2017-03-09 20:53] arghdos commented on #16
The XML file you provided actually ends with AR as the last species.

I'm in the process of trying to recreate this, I'll report back soon with an update!

[2017-03-09 20:57] michael-a-hansen commented on #16
Whoops, you are correct, it's AR. Don't know how I got HE in there. I regenerated my pyJac/pyWrap module and now it works as expected. Sorry for the false alarm!

[2017-03-09 20:57] #16 closed

[2017-03-09 20:57] arghdos commented on #16
Hah, no worries!

Thanks for pointing out the hole in our documentation / examples.  Definitely appreciated!

[2017-03-10 00:06] arghdos commented on #15
WIP: added more [documentation](http://slackha.github.io/pyJac/faqs.html) and [examples](http://slackha.github.io/pyJac/examples.html).

@michael-a-hansen I'd also be interested in your feedback, to see if that explains things a bit more

[2017-03-12 18:51] michael-a-hansen commented on #15
Looks good to me :)

[2017-03-13 14:56] arghdos commented on #15
Ok, I'm going to close it then!  If there are any more examples you need please let us know!

[2017-03-13 14:56] #15 closed

[2017-05-24 12:30] kahilah opened #18 "Parser error with <Space> + END in mechanism file"
Minor issue regarding the mechanism file reader: If there is a white space in front of "END"-marker of the "SPECIES" block in the chemkin mechanism file, pyjac reads END as a specie and prints out an error: "Error: missing thermo data for END"

Removing the white space removes the problem.

Not a pyjac bug as such but worth to consider adding a check for specie name not being "END".

-------------

[2017-05-30 16:54] arghdos commented on #18
Hmm, I'm wary of diving into the "trying to fix badly formatted Chemkin files" game, since there are simply so many of them (and the Cantera converter does a much better job than we would).

@kyleniemeyer I think the best solution here would be to issue a warning for any species name that starts with whitespace?

[2017-06-01 18:17] kyleniemeyer commented on #18
I think a simple fix would be to just strip leading & trailing whitespace from the lines before processing—actually I'm surprised we don't do this already...

This should be a "simple" fix, let me take a look.

[2017-06-02 18:08] kyleniemeyer commented on #18
OK, so we do already strip leading & trailing whitespace, but right *after* the block of code where keywords are parsed.

I'm going to move that to happen immediately prior to parsing keywords, and that should fix the issue.

[2017-06-02 18:16] #18 closed

[2017-06-02 18:42] kyleniemeyer commented on #18
Hi @kahilah, could you try with the newest version now? Either download the source, or install v1.0.5b0 via pip or conda.

[2017-06-05 09:17] kahilah commented on #18
Hi,

Tested and works!

Cheers

[2017-06-05 14:11] kahilah commented on #4
Hi,

Any updates regarding the status/release of the sparse formulation? Keep up the good work :) !

[2017-06-05 15:54] arghdos commented on #4
@kahilah

It's still "on the way".  We presented our progress at the NCM a few months ago, and I've uploaded the presentation to [figshare](https://figshare.com/articles/SIMD-Acceleration_of_Chemical_Source_Term_Evaluation_via_Python/4962662) if you'd like to take a look!

[2017-06-15 22:44] kyleniemeyer commented on #4
Hi @kahilah, if you are interested, we just created a Groups.io-based user group for the SLACKHA project, which includes pyJac: https://groups.io/g/slackha-users (I would invite you directly, but don't know your email)

[2017-06-15 22:46] kyleniemeyer commented on #4
@kahilah scratch that, I found a prior email from you!

[2017-06-15 22:51] kyleniemeyer commented on #10
@stgeke we are still working on this; if you are interested in updates on the project, please join the SLACKHA (larger project that includes pyJac) users' group: https://groups.io/g/slackha-users

[2017-06-16 06:21] kahilah commented on #4
Thanks for the slides and invitation to the group. User-group is a good idea!

[2017-07-28 16:53] ndeak opened #19 "Performance tester -nt switch"
Hello,

I noticed while running some of the example commands in the documentation that there is a minor issue with the pyjac.performance_tester function. In the example provided, it indicates that this function has a -nt switch for the number of threads, but this functionality does not appear to be present in the version I pulled down which seems to be the latest version available. Figured I would

[2017-07-28 20:54] arghdos commented on #19
@ndeak thanks for the report, you're correct that's a bug in the example provided.  It looks like the performance tester will automatically test pyJac with varying #'s of threads (incremented by powers of 2)

This should be addressed w/ commits 8179087 & 4c5ec24

[2017-07-28 20:56] #19 closed

[2017-09-04 17:35] BarrySmith opened #20 "Question regarding OpenMP parallelization of Jacobian"
I ran pyJac on a mechanism with 52 species; http://combustion.berkeley.edu/gri_mech/version30/files30/grimech30.dat

and look at the generated code. The only mention of OpenMP in the generated code is in header.h

// OpenMP
#ifdef _OPENMP
 #include <omp.h>
#else
 #define omp_get_max_threads() 1
 #define omp_get_num_threads() 1
#endif

so it seems the generated code won't use OpenMP. There are no O

[2017-09-04 17:50] arghdos commented on #20
Hi Barry,
The code in `header.h` is there simply to define dummy macros to make life easier during compilation if the user chooses not to use OpenMP, or it's not present on the system etc.

OpenMP enters into `pyJac` in two places:

1.  During compilation, providing the flag '-fopenmp' to the compiler during compilation/linking inserts the OpenMP headers and library into the resulting executable.

[2017-09-04 18:27] BarrySmith commented on #20
Thank you for the quick response and information.

[2017-09-06 02:45] BarrySmith commented on #20
Reopening the issue to ask more questions. We are interested in running pretty big reaction networks and when we do run them about 50% of the total runtime is in the computation of the Jacobian. This is why we asked about OpenMP

How difficult do you think it would be to generate Jacobian code that could have places to "drop in" OpenMP pragamas?  The problem with the currently generated code is th

[2017-09-06 17:54] arghdos commented on #20
Hi Barry,
If I understand what you're suggesting -- that is, parallel evaluation of entries inside a Jacobian for the same set of thermo-chemical conditions -- this isn't currently possibly in `pyJac`, we only expose parallelism in evaluating the Jacobian across many different sets of thermo-chemical conditions, either via OpenMP or on the GPU via CUDA.  The reason being is that the code `pyJac` s

[2017-09-06 17:57] kyleniemeyer commented on #20
Hi @BarrySmith, thanks for your interest—your use case is definitely something we're interested in. I'll second @arghdos's suggestion of joining the User's Group for the project: https://groups.io/g/slackha-users

The email frequency is nearly zero (I don't think we've yet sent a single email).

[2017-09-06 20:06] BarrySmith commented on #20
Thanks for the response. we'll definitely join the mailing list and eagerly await trying out the new features.

   Barry

  Shashi, the list is at https://groups.io/g/slackha-users

[2017-09-07 06:24] kahilah commented on #20
Hey,

I was also wondering this openMP possibility in pyjac context some time ago. I hand tuned reaction rate computations to include "section" pragmas but at least for rather small mechanisms (300 reactions or so) I was not able to make any literal speed-up. On the other hand it was my first quick learning session of openMP so I kept things simple and probably went off the track somewhere along t

[2017-09-07 14:23] arghdos commented on #20
@kahilah interesting, I didn't know about the #sections pragma.  That would definitely be the easiest way to implement parallelism inside the Jacobian evaluation for the current version.

I think you could fairly easily drop a  `#pragma omp parallel sections` around the species derivative evaluations (in `eval_jacob_X` before the ` //Finish dYk / Yj's`), and after around the `//And dT/dYj's` metho

[2017-09-07 19:51] kahilah commented on #20
How I made my test was that I added #pragma omp parallel sections to the rxn_rates.c and enveloped all the reactions within two "sections" which I forced to be run with two threads. Result was something that N evaluations of dydt() was around 0-5% faster with openmp. If I increased threads to four with four sections, the runtime was the same or slightly longer than without openmp.  I concluded tha

[2017-09-29 07:07] michael-a-hansen opened #21 "Binary size"
I've found that the binary generated by pyjac through cython is quite large for bigger mechanisms (pushing towards 1000s of species). See data below, from 11 to 654 species. The plot shows quadratic scaling with species count and somewhere between linear and quadratic with reaction count, and that pyjac's binary will cross 1 GB somewhere around ~1000 species or ~10000 reactions.

Are there any pla

[2017-09-29 11:26] michael-a-hansen commented on #21
FYI, it definitely looks like the dependency is stronger on reaction count than species count, which makes sense. Below are two similar mechanisms, with nearly identical species counts, but a factor of 1.7 between the reaction counts, which happens to match the factor of 1.7 between the binary sizes.

Mechanism | No. species | No. reactions | Binary size (MB)
-- | -- | -- | --
Biodiesel, Luo et al

[2017-09-29 20:44] michael-a-hansen commented on #21
I compiled a 1034-species mechanism (PRF, Curran et al. from the Livermore website, with 7558 reactions) and the binary is 656 MB. Fun fact: the generated Jacobian was 30.6 million lines of code, which were split into 807 files for compilation!

I wonder how compiler-dependent this might be. These binaries are from gcc on my mac (latest OS, clang, etc.).

[2017-09-29 20:54] arghdos commented on #21
@michael-a-hansen you are absolutely correct that the size of the generated Jacobian library is massive --
 to the point where we had to include code that would split the Jacobian evaluation into separate files so the compilers wouldn't break during compilation (gcc 4.4.7 used to segfault for big enough mechanisms).

The new version of pyJac will:

a) be sparse, and won't have to update (nearly) e

[2017-09-29 21:02] arghdos commented on #21
Also, you might look into the `-Os` flag which tells GCC to try and minimize the size of the developed object, it would need to be added to [libgen.py](https://github.com/SLACKHA/pyJac/blob/master/pyjac/libgen/libgen.py#L43) in a from source build

[2017-09-29 22:01] michael-a-hansen commented on #21
I eagerly await the new version! Let me know if I can help out in testing.

What do you mean by "won't be hard coded"?

[2017-10-02 17:32] arghdos commented on #21
@michael-a-hansen it will look much more like a loop / conditional based code (with options to unroll).  This direction was chosen to avoid the huge filesizes, as well as to enable opencl vectorization

[2017-10-04 14:38] michael-a-hansen commented on #21
Terrific! I'm very interested to see how various degrees of unrolling impact performance and memory across mechanism size. Thanks for the good work.

[2017-10-04 14:38] #21 closed

[2017-11-22 20:26] kyleniemeyer opened #22 "Code doesn't provide info about last species"
From @stonecp:

Right now info about the last species is given at Jacobian generation, but not after that. It would be useful to put info about this in the header, and perhaps some functions about getting the name or previous position.

[2017-11-22 21:13] arghdos commented on #22
@stonecp @kyleniemeyer

I believe the species list is written to the `mechanism.h` header (or the like)
https://github.com/SLACKHA/pyJac/blob/master/pyjac/core/mech_auxiliary.py#L139

But we could turn this into a function like Cantera's species names / species indicies

[2018-01-13 15:05] chengdi123000 opened #23 "a compile warning about numpy api"
[code]

Code:
[code]

[2018-01-13 22:00] michael-a-hansen commented on #23
The numpy warning is a cython thing, and is annoying but not an indicator of a problem: http://docs.cython.org/en/latest/src/reference/compilation.html#configuring-the-c-build

More importantly, your reshape should do column-major ordering: `reshape((ns, ns), order='F')`.

[2018-01-13 23:19] chengdi123000 commented on #23
Thanks, I just found the problem. The spy of sparse matrix seems transposed. The third body reaction made the indicator.

[2018-01-15 19:09] #23 closed

[2018-01-15 19:16] chengdi123000 opened #24 "about 98% of the elements are not zero?"
about 98% of the elements are not zero?

[code]

output looks like:
[code]

[2018-01-15 19:22] kyleniemeyer commented on #24
Hi @chengdi123000, yes, for the Jacobian based on a constant-pressure system, the Jacobian is dense—almost all elements are nonzero. This happens because all species mass fractions contribute to density, which shows up in the time derivative of species mass fraction, and thus all species are "connected" to each other in the Jacobian. You can read a bit more about this in Section 3.3 of our article

[2018-01-15 19:23] michael-a-hansen commented on #24
You could try counting nonzeros by a threshold. Something like `np.sum(np.abs(J) > 1.e-12)` ought to do the trick (I haven't tested that).

[2018-01-15 19:24] kyleniemeyer commented on #24
I should also point out that we currently formulate the exact Jacobian; it may be possible to increase the sparsity of the current constant-pressure formulation by introducing some approximations, but we haven't done this yet.

[2018-01-15 19:51] kahilah commented on #24
I once played around and tested to increase sparsity of the Jacobian by easily applying different threshold levels after which the element is forced to zero. I used gri3 and jacobian was created with the Cp assumption in pyjac. I noticed that the ODE solver was able to solve the problem but it took quite a bit more internal steps, making the overall cpu-time higher than with a dense and accurate j

[2018-01-15 20:59] chengdi123000 commented on #24
@kyleniemeyer Thank you very much for your reply!

@michael-a-hansen
Thresholding is not a good idea. It depends on what the Jacobian is used for. For quasi-Newton methods, inexact Jacobian is useful with the cost of more steps. For eigen value and vectors, sometime it becomes sensitive to the small numbers for chemical kinetics. Considering energy in the system, small perturbation of radical may

[2018-01-15 21:01] michael-a-hansen commented on #24
@chengdi123000 agreed. If the goal is to estimate sparsity, however, it might be useful to use a threshold to eliminate numbers on the order of machine epsilon. That's all I was suggesting.

[2018-01-20 01:08] chengdi123000 opened #25 "Problem to reproduce chemical explosive mode analysis"
I doubt if CEMA is usable to other mechanism. Or the pyjac gave me wrong Jacobian.

I try to reproduce the figure 1-b of the following paper. I assumed that the GRI3.0 Mech in cantera is usable for H2-air autoignition as the mechanism from `Li, J., Zhao, Z. W., Kazakov, A. & Dryer, F. L. 2004 An updated comprehensive kinetic model of hydrogen combustion. Intl J. Chem. Kinet. 36, 566–575.`, which w

[2018-01-22 21:33] arghdos commented on #25
@chengdi123000

From the Paper (3.2. CEMA for the lifted flame):

From this I infer they discarded zero-eigenvalues (resulting from conservation of mass, as we discussed the other day).

Even after discarding eigenvalues identically equal to zero, I was not able to reproduce the plot you mention in the paper.  However, by filtering eigenvalues by some small threshold (1e-5 in my case), I was able

[2018-01-22 21:34] arghdos commented on #24
@chengdi123000 I'm going to close this issue as it appears to be resolved

[2018-01-22 21:34] #24 closed

[2018-01-22 21:34] #22 closed

[2018-01-23 16:31] chengdi123000 commented on #24
@arghdos OK

[2018-01-25 22:52] chengdi123000 commented on #25
![cema_h2o2_autoignition](https://user-images.githubusercontent.com/10754664/35416743-459721c8-01f8-11e8-9faa-adfc16256141.png)

Thank you @arghdos. I reproduced the almost same result.

I think CEMA might be mechanism dependent.
- some mechanism seems behaves "smoother". I used the [LLNL's H2 mechanism](https://combustion.llnl.gov/archived-mechanisms/hydrogen) to generate the figure I attached.
-

[2018-01-26 01:14] michael-a-hansen opened #26 "possible bug in default third-body efficiency"
I think there's a bug in how pyJac handles three-body and falloff reactions when the default third-body efficiency is not 1. In verifying a Jacobian code I'm working on, I've tested against pyJac on 3-body, Lindemann, and Troe reactions, with the N-th species as a reactant or not, and with the N-th species as a special third-body or not. In this test matrix there are persistent diffs between pyJac

[2018-01-26 15:27] arghdos commented on #26
@michael-a-hansen thanks for the report.  Looking at the two mechanisms, I think I see the issue.

On line [1031](https://github.com/SLACKHA/pyJac/blob/master/pyjac/core/mech_interpret.py#L1031) (and 991 for that matter) we check for a default efficiency of 0, and if so treat the first non-zero efficiency as a single species third-body efficiency (i.e., with an efficiency of 1, and all other speci

[2018-01-26 15:35] #25 closed

[2018-01-29 22:59] arghdos commented on #26
@michael-a-hansen I think the latest commits (in [pull request](https://github.com/SLACKHA/pyJac/pull/27) currently, will merge shortly) should fix this, my updated test script:

[code]

and output:

[code]

[2018-02-18 16:12] #26 closed

[2018-05-25 01:16] sandeepjella opened #32 "Installation Question"
I'm using Cantera + Python in Anaconda and have installed pyjac. Works well and generates the C code but I am running into an issue trying to generate the C wrapper that works on that output for later use in Python (i.e. a cantera program).

It is fairly silly: Pyjac doesn't find the gcc compiler, which is installed through MingW in the Anaconda environment. Outside Pyjac's run, the conda prompt i

[2018-05-25 14:35] arghdos commented on #32
Hi Sandeep,

Just so I'm clear here, the steps involved in this issue are:

1) Install pyJac on windows
2) Generate the c-code
3) use `pyjac.pywrap` to generate a python wrapper for the generated C-code

Is that right?

If so, I think the issue is with paths / Conda.  I don't know that anyone's ever tested `pyJac` with MinGW, but this is something we should support.

First things to check:

1)  Ca

[2018-05-25 15:24] sandeepjella commented on #32
Nick,

Spot on with everything. This is exactly my scenario.

Sounds like the quick fix will work since you show that python can find the
path. I'll update again when this works.

Thanks again for your help,

Sandeep.

On Fri, May 25, 2018 at 10:35 AM, arghdos <notifications@github.com> wrote:

[2018-05-25 15:54] arghdos commented on #32
Sandeep, I'm still running into some issues getting the python wrapper to fully compile here on windows (you have to do similar things to the linker and there's some Cython weirdness), but I should have a pull request for you to test later this afternoon

[2018-05-25 16:05] sandeepjella commented on #32
OK, thanks for that. I'll wait to hear from you. GCC is now found by pyjac
and some object files are created but like you mention, there is some
weirdness happening.

Not sure if its of use but here's a screenshot of my output. Some crazy
path mangling is evident (Line 11)

Sandeep.

On Fri, May 25, 2018 at 11:54 AM, arghdos <notifications@github.com> wrote:

[2018-05-26 12:58] sandeepjella commented on #32
No worries, the Linux route is probably best. Thanks for looking at this in
detail,

Sandeep.

Sent from my phone.

On May 25, 2018 1:02 PM, "arghdos" <notifications@github.com> wrote:

Ok, so this is actually a bit more complicated than I hoped.
Unfortunately Conda compiles everything with MSVC compilers
<https://conda.io/docs/user-guide/tutorials/build-windows.html> on windows,
and there are som

[2018-09-18 14:26] stgeke opened #33 "No module named 'loopy.target.c.c_execution'"
Trying to run the latest master results in:

from loopy.target.c.c_execution import CPlusPlusCompiler
ImportError: No module named 'loopy.target.c.c_execution'

Any idea how to fix this?

[2018-09-18 15:19] arghdos commented on #33
Hi Stefan, can I assume you're attempting to use the version of [pyjac-V2](https://github.com/SLACKHA/pyJac-v2) for our [upcoming paper](https://arxiv.org/abs/1809.01029) that's online?

The requirements / etc. on that repo were a bit out of date, but I just pushed an updated master branch that should have fixed a number of issues there.

I haven't created the documentation yet: the best docs for

[2018-09-25 14:46] stgeke commented on #33
Just realized that it's turned on by default. Switching it off  results now in:
ImportError: ~/.local/lib/python2.7/site-packages/numpy/random/mtrand.so: undefined symbol: PyFPE_jbuf

[2018-09-25 19:43] arghdos commented on #33
Ok, the problem here was that there was still some unguarded `pyopencl` references in the master branch.  The [most recent commit](https://github.com/SLACKHA/pyJac-v2/tree/d000b7df9e599b188b6b1c52cbb3fd9b93cb1865) should have resolved this.  You'll (likely) have to reinstall loo.py once more; there's a chance it will work as is, but currently I depend on a few features that are still waiting to be

[2018-10-04 14:17] #33 closed

[2019-01-04 15:35] #20 closed

[2019-01-04 15:35] #5 closed

[2019-01-04 15:35] #4 closed

[2019-01-04 15:35] #1 closed

[2019-01-04 15:36] #32 closed

[2019-01-04 15:36] skyreflectedinmirrors opened #34 "Possible bug in PLOG derivatives w/o temperature dependence"
Reported in https://groups.io/g/slackha-users/message/8

@sandeepjella

[2019-02-04 15:07] skyreflectedinmirrors opened #36 "pyJac doesn't account for explicitly specified reaction orders"
Currently the mechanism interpreter simply ignores any [explicitly specified reaction order](https://cantera.org/science/reactions.html#reaction-orders).

Todo:

   - [ ] Throw an exception on parsing a non-stoichiometric reaction order mechanism as a stop-gap
   - [ ] Go through the derivations and see if we can reasonably implement this behaviour.

[2020-08-10 21:11] cmikida2 opened #37 "Large number of failing tests on V2 master branch"
Hi - I'm working with pyJac-V2 and have noticed that when I pull the master branch and run nosetests from the top directory, 25 of them fail (5 errors, 20 failures, and 3 skipped tests). Most of the failures are assertion errors, and hand-checking one of the simpler of these ([test_set_concentrations](https://github.com/SLACKHA/pyJac-v2/blob/master/pyjac/tests/test_rate_subs.py#L598)) shows a legi

[2020-08-11 19:38] yinmin-liu opened #38 "nvcc fatal : Value 'sm_20' is not defined for option 'gpu-architecture'"
When I try to generate a python wrapper, it returns error information as follow:
nvcc fatal   : Value 'sm_20' is not defined for option 'gpu-architecture'

My cuda version is 11.0, and using a GTX 1050ti gpu.

Any idea how to solve this?

Thanks!

![image](https://user-images.githubusercontent.com/55120383/89941196-aed03e00-dbe8-11ea-971c-3f226d5a774a.png)

[2020-08-11 19:44] kyleniemeyer commented on #38
Hi there,

This looks like an nvcc issue; the options are listed on the docs: https://docs.nvidia.com/cuda/cuda-compiler-driver-nvcc/index.html#virtual-architecture-feature-list

(nvcc has changed the available keywords for that option)

KN

[2020-08-11 21:31] yinmin-liu commented on #38
Hi Kyle,
Em... I am new to nvcc, how can I fix this issue? I do find "'nvcc': ['-arch=sm_20', '--ptxas-options=-v'" in the 'pyjacob_cuda_setup.py.in' file. But, no matter how I adjust the arch value, it still reports 'sm_20' error.

[2020-08-13 19:27] yinmin-liu commented on #38
Update:
I changed all the 'sm_20' in the libgen.py file and in the 'pyjacob_cuda_setup.py.in' into 'sm_61'.
The error fixed.

But new error information shows up as follows:

cl : Command line warning D9002 : ignoring unknown option '-fPIC'
fatal error C1083: Cannot open include file: 'helper_cuda.h': No such file or directory

[2020-08-24 22:04] yinmin-liu commented on #38
Final Update:
Using Linux instead of Windows, everything solved.

[2020-08-24 22:04] #38 closed, assigned to nobody

[2020-12-09 08:56] hamsteri15 opened #39 "Add a feature to have a filename extension to the generated files"
This would allow more than one jacobian with different mechanisms to be compiled to a single binary more easily.

[2021-02-15 09:01] blttkgl opened #40 "Add a function mechInfo() to return compiled mechanism information"
Hey,

We use pyJac with linking it to OpenFOAM as a dynamic library through case folders. During compiling the OpenFOAM chemistry model we use dummy pyjac headers, since we want to be able to use different mechanisms via pyJac by linking the appropriate dynamic library from the case folder.

At the moment there is no easy way to check if the mechanism input file provided and mechanism pyJac is com

[2021-02-18 22:35] kyleniemeyer commented on #40
Hi @blttkgl, thanks for your interest! I/we aren't actively developing pyJac at this time, but I'd be happy to look at a pull request.

However, I am a bit confused about

Is the idea that you have compiled OpenFOAM for a particular model size, but could vary the chemistry model by only updating the output from pyJac, without recompiling everything else?

[2021-02-19 08:41] blttkgl commented on #40
Hey @kyleniemeyer !

Yes, that's correct. We link the header files of a (any) pyJac output to our chemistryModel, so that the pyJac functions are defined during model compilation via headers. During usage, we link the libc_pyjac.so library dynamically to our solver, so OpenFOAM uses the pyJac output of the chemical mechanism we want to use. I implemented a check at the constructor of OpenFOAM side

[2021-05-11 12:57] Naikless opened #41 "Compatibility with Python >3.6"
Hi,

I noticed that at least the conda package limits compatibility to Python 3.6, explicitly avoiding 3.7.0a0. Has anyone tested whether there is still an issue with more recent python versions? For now, I can just create an environment with 3.6, but I was curious.

[2021-05-11 13:41] skyreflectedinmirrors commented on #41
I don't believe there should be any issues with newer python versions, it's just that 3.6 was the most up to date when we were writing the code.

Best,
Nick
________________________________
From: daharn ***@***.***>
Sent: Tuesday, May 11, 2021 8:58 AM
To: SLACKHA/pyJac ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [SLACKHA/pyJac] Compatibility with Python >3.6 (#41)

[CAUTION: External Email]

[2021-05-11 14:16] Naikless commented on #41
Wow, thanks for the rapid response!

I will test this as soon as I got it running with my 3.6 environment.

At the moment, I am still having some issues compiling the python interface. I saw that there were issues regarding Windows and the subprocess module. Are those still persisting? I recieve a "File not found" error during execution of subprocess.py.

Edit: So, I pretty much went down the same

[2022-01-06 19:38] synjon-symthe opened #42 "using pyJac for a constant temperature system"
Can pyJac be used for a system where the temperature of the system is held constant and the chemical kinetics species equations are time-marched at this fixed temperature?  If so, would it make sense to use the 'Jac' matrix produced by pyJac without the first row and first column so that only the species related derivatives remain?

Synjon

[2022-02-07 21:02] mgoodson-cvd opened #43 "Bug in `dydt` for `cv_avg`"
Just a warning to anyone still using this: there is a bug in `dydt.c` in the function computing `cv_avg`, [here](https://github.com/SLACKHA/pyJac/blob/5f54b2d6c04e1ee62d9db8bbf7553ad785f58c33/pyjac/core/rate_subs.py#L2431).

https://github.com/SLACKHA/pyJac/blob/5f54b2d6c04e1ee62d9db8bbf7553ad785f58c33/pyjac/core/rate_subs.py#L2431

There needs to be a "+" sign prior to opening the next parenthese

[2022-02-07 22:15] skyreflectedinmirrors commented on #43
Heh, you can see we fixed it for `conp` here: https://github.com/SLACKHA/pyJac/blob/5f54b2d6c04e1ee62d9db8bbf7553ad785f58c33/pyjac/core/rate_subs.py#L2281

[2022-02-07 22:18] skyreflectedinmirrors commented on #43
I think this should do it?  https://github.com/SLACKHA/pyJac/pull/44

I haven't run this in awhile, so if you test it and it looks good, let me know and I'll merge it in.

[2022-02-08 15:46] mgoodson-cvd commented on #43
@arghdos Yes, that fixed it! Thanks for the quick response.

Once I fixed that, the compiler found another bug here:
https://github.com/SLACKHA/pyJac/blob/5f54b2d6c04e1ee62d9db8bbf7553ad785f58c33/pyjac/core/rate_subs.py#L2362

There should be a comma before the `rho` so that the call the `eval_conc_rho` is correct. After I made that change manually, it compiled!